{% extends "teacher_app/base.html" %}

{% block title %}
    {{ single_class.name }} - details
{% endblock %}

{% block content %}
    <h1>Detail View</h1>
    <p>Name: {{ single_class.name }}</p>
    <p>Teacher: {{ single_class.teacher }}</p>
    <p>Level: {{ single_class.level }}</p>
    <p>Students</p>
    <ul>
        {% for student in single_class.students.all %}
            <li>{{ student.first_name}} {{ student.last_name }} {{ student.age }}</li>
        {% endfor %}
    </ul>
{% endblock %}
